/*variables*/

$grey-background: #323D47 0% 0% no-repeat padding-box;
$dark-background: #1C2228 0% 0% no-repeat padding-box;
$brownish-color-background: #C68F56 0% 0% no-repeat padding-box !important;
$brownish-color: #C68F56 !important;
$standard-section-height: 320px;

@mixin btn-navbar {
    width: 130px;
    height: 35px;
    margin: 32px !important;
    font-family: 'Montserrat', sans-serif;
}

#header-div {
    background: $grey-background;
    height: 103px;
}

#app-icon-img {
    width: 64px;
    height: 69px;
    margin: 0px;
    padding: 0px;
    opacity: 1;
}

.nav-item {
    width: 168px;
    height: 38px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font: Regular 20px/27px Playfair Display;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.btn-primary {
    @include btn-navbar;
    background: $brownish-color-background;
    border-color: $brownish-color;
}

.btn-outline-primary {
    @include btn-navbar;
    color: $brownish-color;
    border-color: $brownish-color;
}

.get-app-section {
    background: transparent url('../img/architecture-building-dubai-70441 bg.png') 0% 0% no-repeat padding-box;
    height: $standard-section-height;
}

.about-app-section {
    background: $dark-background;
    height: $standard-section-height;
}

#for-customers-section {
    background: $grey-background;
    height: $standard-section-height;
}

#for-customers-with-picture {
    background: transparent url('../img/bar-drinks-hotel-6490.png') 0% 0% no-repeat padding-box;
}