/*variables*/
#header-div {
  background: #323D47 0% 0% no-repeat padding-box;
  height: 103px; }

#app-icon-img {
  width: 64px;
  height: 69px;
  margin: 0px;
  padding: 0px;
  opacity: 1; }

.nav-item {
  width: 168px;
  height: 38px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font: Regular 20px/27px Playfair Display;
  letter-spacing: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1; }

.btn-primary {
  width: 130px;
  height: 35px;
  margin: 32px !important;
  font-family: 'Montserrat', sans-serif;
  background: #C68F56 0% 0% no-repeat padding-box !important;
  border-color: #C68F56 !important; }

.btn-outline-primary {
  width: 130px;
  height: 35px;
  margin: 32px !important;
  font-family: 'Montserrat', sans-serif;
  color: #C68F56 !important;
  border-color: #C68F56 !important; }

.get-app-section {
  background: transparent url("../img/architecture-building-dubai-70441 bg.png") 0% 0% no-repeat padding-box;
  height: 320px; }

.about-app-section {
  background: #1C2228 0% 0% no-repeat padding-box;
  height: 320px; }

#for-customers-section {
  background: #323D47 0% 0% no-repeat padding-box;
  height: 320px; }

#for-customers-with-picture {
  background: transparent url("../img/bar-drinks-hotel-6490.png") 0% 0% no-repeat padding-box; }
